.window-controls {
    position: fixed;
    z-index: 200;
    height: 34px;
}

.window-controls-container {
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    text-align: center;
    position: relative;
    z-index: 3000;
    -webkit-app-region: no-drag;
    height: 100%;
    width: 165px;
    margin-left: auto;
    user-select: auto;
    font-size: 13px;
    line-height: 30px;
}

.window-controls-container>.window-icon-bg {
    display: inline-block;
    -webkit-app-region: no-drag;
    height: 100%;
    width: 30%;
}

.window-controls-container>.window-icon-bg>.window-icon {
    height: 100%;
    width: 100%;
    -webkit-mask-size: 30%;
    background-color: rgba(204, 204, 204, 0.6);
}

.window-controls-container .window-close {
    -webkit-mask: url("data:image/svg+xml;charset=utf-8,<svg width='11' height='11' viewBox='0 0 11 11' xmlns='http://www.w3.org/2000/svg'><path d='M6.279 5.5L11 10.221l-.779.779L5.5 6.279.779 11 0 10.221 4.721 5.5 0 .779.779 0 5.5 4.721 10.221 0 11 .779 6.279 5.5z' fill='currentColor'/></svg>") no-repeat 50% 50%
}

.window-controls-container .window-unmaximize {
    -webkit-mask: url("data:image/svg+xml;charset=utf-8,<svg width='11' height='11' viewBox='0 0 11 11' xmlns='http://www.w3.org/2000/svg'><path d='M11 8.798H8.798V11H0V2.202h2.202V0H11v8.798zm-3.298-5.5h-6.6v6.6h6.6v-6.6zM9.9 1.1H3.298v1.101h5.5v5.5h1.1v-6.6z' fill='currentColor'/></svg>") no-repeat 50% 50%
}

.window-controls-container .window-maximize {
    -webkit-mask: url("data:image/svg+xml;charset=utf-8,<svg width='11' height='11' viewBox='0 0 11 11' xmlns='http://www.w3.org/2000/svg'><path d='M11 0v11H0V0h11zM9.899 1.101H1.1V9.9h8.8V1.1z' fill='currentColor'/></svg>") no-repeat 50% 50%
}

.window-controls-container .window-minimize {
    -webkit-mask: url("data:image/svg+xml;charset=utf-8,<svg width='11' height='11' viewBox='0 0 11 11' xmlns='http://www.w3.org/2000/svg'><path d='M11 4.399V5.5H0V4.399h11z' fill='currentColor'/></svg>") no-repeat 50% 50%
}

.window-controls-container .dev-tools {
    -webkit-mask: url("data:image/svg+xml;charset=utf-8,<svg class='icon' style='width: 1em; height: 1em;vertical-align: middle;fill: currentColor;overflow: hidden;' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='2153'><path d='M296.448 512.512l95.232-95.232c15.872-16.384 15.36-41.984-0.512-57.344-15.872-15.872-41.472-15.872-57.344-0.512L209.92 483.84c-15.872 15.872-15.872 41.984 0 57.856L333.824 665.6c15.872 15.872 41.984 15.872 57.856 0 15.872-15.872 15.872-41.984 0-57.856l-95.232-95.232z m276.48-212.992c-10.24-3.072-21.504-2.048-31.232 3.584-9.728 5.12-16.896 14.336-19.456 25.088L422.912 675.84c-3.072 10.24-1.536 21.504 3.584 31.232 5.12 9.728 13.824 16.384 24.576 19.456 10.24 3.072 21.504 1.536 31.232-3.584 9.728-5.12 16.384-13.824 19.456-24.576l99.328-347.648c3.072-10.24 1.536-21.504-3.584-31.232-5.12-10.24-13.824-17.408-24.576-19.968z m117.248 59.904c-16.384-15.872-41.984-15.36-57.344 0.512-15.872 15.872-15.872 41.472-0.512 57.344l95.232 95.232-95.232 95.232c-7.68 7.68-12.288 17.92-12.288 29.184 0 10.752 4.096 21.504 12.288 29.184 15.872 15.872 41.984 15.872 57.856 0L814.08 541.696c15.872-15.872 15.872-41.984 0-57.856l-123.904-124.416z m0 0' fill='currentColor' p-id='2154'></path><path d='M929.28 240.128l-384-216.576c-9.728-6.144-19.968-8.192-31.744-8.192-11.776 0-22.016 2.048-31.744 8.192l-384 216.576c-19.968 11.776-31.744 31.744-31.744 55.808v433.664c0 22.016 11.776 43.52 31.744 55.808l381.952 216.576c9.728 6.144 22.016 8.192 31.744 8.192 11.776 0 22.016-2.048 31.744-8.192l381.952-216.576c19.968-11.776 31.744-31.744 31.744-55.808v-433.664c4.096-22.016-7.68-44.032-27.648-55.808z m-27.648 491.008l-377.856 218.624c-2.048 2.048-8.192 6.144-9.728 6.144-2.048 0-8.192-4.096-9.728-6.144L125.952 731.136v-437.76l377.856-218.624c2.048 0 8.192-6.144 9.728-6.144 2.048 0 8.192 4.096 9.728 6.144L901.12 293.376v437.76z' fill='currentColor' p-id='2155'></path></svg>") no-repeat 50% 50%
}

.window-controls-container .report {
    -webkit-mask: url("data:image/svg+xml;charset=utf-8,<svg class='icon' style='width: 1em; height: 1em;vertical-align: middle;fill: currentColor;overflow: hidden;' viewBox='0 0 1024 1024' version='1.1' xmlns='http://www.w3.org/2000/svg' p-id='4594'><path d='M514.261333 346.197333c-17.066667 0-30.933333 9.386667-30.933333 20.906667v251.648c0 11.52 13.866667 20.864 30.933333 20.864 17.066667 0 30.933333-9.386667 30.933334-20.906667V367.146667c0-11.52-13.866667-20.906667-30.933334-20.906667z m0 335.530667c-17.066667 0-30.933333 9.386667-30.933333 20.906667v41.898666c0 11.52 13.866667 20.906667 30.933333 20.906667 17.066667 0 30.933333-9.386667 30.933334-20.906667v-41.941333c0-11.52-13.866667-20.906667-30.933334-20.906667z m454.528 134.485333L571.733333 125.696C557.013333 100.096 535.210667 85.333333 512 85.333333c-23.210667 0-45.013333 14.72-59.733333 40.362667L55.210667 816.213333c-8.32 14.506667-12.544 28.8-12.544 42.538667 0 30.464 22.442667 61.184 72.533333 61.184h793.6c50.090667 0 72.533333-30.72 72.533333-61.184 0-13.738667-4.224-28.074667-12.544-42.538667z m-87.338666 43.946667H138.026667c-8.661333 0-28.8-1.792-28.8-18.176a42.666667 42.666667 0 0 1 6.528-20.352l371.968-646.826667c13.269333-23.125333 30.805333-23.125333 44.117333 0l371.925333 646.826667a42.666667 42.666667 0 0 1 6.528 20.309333c0 16.426667-20.181333 18.218667-28.842666 18.218667z' fill='currentColor' p-id='4595'></path></svg>") no-repeat 50% 50%
}
